

<!DOCTYPE html>
<html>
<head>
    <title>Gráfico de Radiación con D3.js</title>
    <!-- Agrega las referencias a Bootstrap y jQuery -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Agrega la referencia a D3.js -->
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <style>
        .loader {
            /* Estilos anteriores... */
            display: flex;
            flex-direction: column;
        }

        .loader img {
            display: block;
            margin: 0 auto; /* Centra la imagen */
        }

        .loader p {
            margin-top: 10px; /* Ajusta el margen superior del párrafo */
            text-align: center; /* Centra el texto horizontalmente */
            font-weight: bold; /* Opcional: Añade negrita al texto */
        }


        /* Oculta el contenido principal al principio */
        #mainContent {
            display: none;
        }

        .resize-image {
            /* Ajusta el tamaño de la imagen */
            width: 50%; /* Puedes cambiar este valor según tu preferencia */
            height: auto; /* Para mantener la proporción de la imagen */
        }
        .title {
            font-size: 2em;
            text-align: center;
        }
        .resize-image-small {
            width: 200px; /* Define el ancho deseado */
            height: auto; /* Mantén la proporción */
        }
        .blue-text {
            color: #06a0e3;
        }

        button {
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }


    </style>


</head>
<body>
<div id="loader" class="loader">
    <img src="/sol.gif" alt="Cargando...">
    <p>Cargando datos...</p>
</div>

<div id="mainContent" style="display: none;">
    <button class="btn btn-primary mt-3" onclick="goBack()">Regresar</button>

    <h1 class="title blue-text">MEDICIONES DIARIAS <img src="/solazul.png" alt="Foto" class="resize-image-small"></h1>

    <div class="container mt-4">
        <div class="row">
            <div class="col">
                <label for="desde" class="blue-text">SELECTOR DE FECHA:</label>
                <input type="date" class="form-control" id="desde" value="2023-07-01">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title blue-text">ÁREA BAJO LA CURVA:</h5>
                        <p class="card-text blue-text" id="areaBajoCurva">...</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card mt-3">
                    <div class="card-body">
                        <h5 class="card-title blue-text">IRRADIANCIA PROMEDIO:</h5>
                        <p class="card-text blue-text" id="resultado">...</p>
                    </div>
                </div>
            </div>
        </div>


        <button class="btn btn-primary mt-3" onclick="generarGrafico()">Generar Gráfico</button>
    </div>
</div>




<svg id="myChart" width="900" height="600"></svg>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        generarGrafico(); // Llama a la función al cargar el DOM

    });
    function generarGrafico() {
        // Seleccionar el elemento SVG
        const svgElement = document.getElementById('myChart');

// Limpiar el contenido del SVG
        while (svgElement.firstChild) {
            svgElement.removeChild(svgElement.firstChild);
        }

        const fecha = document.getElementById('desde').value;

        //patnalla de carga
        document.getElementById('loader').style.display = 'block';
        document.getElementById('loader').querySelector('p').innerText = 'Consultando a la base de datos...';
        document.getElementById('mainContent').style.display = 'none';
    console.log(`http://localhost:8080/radiacionporfecha?fecha=${fecha}`);
        fetch(`/radiacionporfecha?fecha=${fecha}`)
            .then(response => {


                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then(datosEjemplo => {

                    document.getElementById('loader').querySelector('p').innerText = 'Procesando datos...';

                const fechas = datosEjemplo.map(dato => new Date(dato.datosSensor.fecha));
                const radiaciones = datosEjemplo.map(dato => dato.radiacion);

                    const totalRadiacion = radiaciones.reduce((total, radiacion) => total + radiacion, 0);
                    const promedioTotal = totalRadiacion / radiaciones.length;

                    console.log('Promedio de todos los datos de radiación:', promedioTotal);
                    const resultadoHTML = document.getElementById('resultado');
                    resultadoHTML.innerHTML = `<strong>${promedioTotal} </strong> Watts por metro2`;




                    const svg = d3.select("#myChart");
                const margin = { top: 20, right: 30, bottom: 30, left: 40 };
                const width = +svg.attr("width") - margin.left - margin.right;
                const height = +svg.attr("height") - margin.top - margin.bottom;

                const x = d3.scaleTime()
                    .domain(d3.extent(fechas))
                    .range([margin.left, width - margin.right]);

                const y = d3.scaleLinear()
                    .domain([0, d3.max(radiaciones)])
                    .range([height - margin.bottom, margin.top]);

                const line = d3.line()
                    .x((d, i) => x(fechas[i]))
                    .y(d => y(d));

                svg.append("path")
                    .datum(radiaciones)
                    .attr("fill", "none")
                    .attr("stroke", "steelblue")
                    .attr("stroke-width", 1.5)
                    .attr("d", line);

                // Añadir ejes
                svg.append("g")
                    .attr("transform", `translate(0,${height - margin.bottom})`)
                    .call(d3.axisBottom(x));

                svg.append("g")
                    .attr("transform", `translate(${margin.left},0)`)
                    .call(d3.axisLeft(y));

                //dibujar el area bajo la curva
                const area = d3.area()
                    .x((d, i) => x(fechas[i])) // Define la posición x
                    .y0(height - margin.bottom) // Define la base del área (eje y inferior)
                    .y1(d => y(d)); // Define la posición y (usando los datos de radiaciones)

                svg.append("path")
                    .datum(radiaciones)
                    .attr("fill", "steelblue") // Color del área
                    .attr("opacity", 0.3) // Opacidad del área
                    .attr("d", area); // Aplica el área bajo la curva


                document.getElementById('loader').style.display = 'none';
                // Muestra el contenido principal
                document.getElementById('mainContent').style.display = 'block';
                console.log("Termino de cargar datos ");
                // Llamar a la función para calcular el área bajo la curva
                const areaBajoCurva = calcularAreaBajoCurva(fechas, radiaciones);
                console.log('Área bajo la curva:', areaBajoCurva);

                const areaBajoCurvaElement = document.getElementById('areaBajoCurva');
                areaBajoCurvaElement.innerHTML = `<strong>${areaBajoCurva}</strong> KiloWatts por dia por m2`;


            }



    )
            .catch(error => {
                console.error('There has been a problem with your fetch operation:', error);
            });
    }
    function calcularAreaBajoCurva(fechas, radiaciones) {
        let area = 0;
        for (let i = 0; i < fechas.length - 1; i++) {
            const base = Math.abs(fechas[i + 1] - fechas[i]); // Ancho del trapecio
            const alturaPromedio = (radiaciones[i] + radiaciones[i + 1]) / 2; // Altura promedio de los dos puntos
            area += base * alturaPromedio; // Área del trapecio
        }
        return area/100000000;
    }


    function goBack() {
        window.location.href = '/index';
    }
</script>
</body>
</html>

